<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Expense Tracker </title>
</head>
<body>
    <div class="container">
        <form action="/updateData" method="post">
            <input type="text" name="id" value="<%= users[0].id%>" readonly>
            <input type="text" placeholder="expense" name="expense" value="<%= users[0].Expense%>">
            <input type="text" placeholder="description" name="description" value="<%= users[0].Description%>">
            <select name="category" value="<%= users[0].Category%>">
                <option value="movie">Movie</option>
                <option value="dinner">Dinner</option>
                <option value="fuel">Fuel</option>
                <option value="ticket">Ticket</option>
            </select>
            <input type="submit" placeholder="submit">
        </form>
    </div>
</body>
</html>